body {
    background-color: LightSkyBlue;
    font-family: "helvetica", sans-serif;
    color: purple;
}

h1 {
    font-family: "Times New Roman", sans-serif;
    color: orange;
}
ul {
    font-family: "Times New Roman", sans-serif;
    color: blue;
}
nav {
    background-color: tomato;
    color: blue;
}
nav ul li {
    list-style-type: none;
    display: inline
    margin-left: 10px;
    margin-right: 10px; 
