body {
    background-color: LightSkyBlue;
    font-family: "helvetica", sans-serif;
    color: purple;
}

h1 {
    font-family: "Times New Roman", sans-serif;
    color: orange;
}
ul {
    font-family: "Times New Roman", sans-serif;
    color: blue;
}
